/* General */

h1 {
	color: #eaedef;
	font-size: 3rem;
	letter-spacing: .7rem;
	font-family: Josefin Sans, sans-serif;
	text-align: center;
	animation: fadeIn 10s ease, color-change 10s ease, glow 10s linear infinite, growth 8s ease;
	margin: 0 auto;
	padding: 0;
}

h2,
h3,
h4,
h5,
h6 {
	color: #eaedef;
	padding: 0;
	margin: 0 auto;
}

p {
	color: #eaedef;
}

body {
	font-family: Josefin Sans, sans-serif;
	background-image: url("../images/aviolentpeace-webpage.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	height: 100vh;
	width: 100vw;
	padding: 0;
}

ol {
	color: #eaedef;
}

a {
	text-decoration: none;
	color: #eaedef;
	transition: 0.5s;
}

a:hover {
	color: #eaedef;
	text-decoration: none;
	text-shadow: 0 0 3px #eaedef;
	transition: text-shadow 0.5s ease;
}

i {
	transition: 0.5s;
}

i:hover {
	transform: scale(1.3);
	transition: transform 0.5s ease;
}

hr {
	width: 2rem;
	size: 1px;
	color: #eaedef;
	margin: 2rem 0;
}

#about hr {
	margin: 3rem auto;
}

label {
	color: #eaedef;
}

/* Homepage */

.homepage .row {
	height: 33.3vh;
	width: 100vw;
	margin: 0;
}

/* Top Section */

.top-section {
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

/* Title Section */

.title-section {
	position: relative;
}

.title {
	margin: 2rem auto 0;
}

.title-box {
	margin: 0 auto;
	padding: 0;
}

.sub-title {
	font-weight: 300;
	text-align: center;
	letter-spacing: .1rem;
	padding: 1rem 0;
	animation-delay: 10s;
	animation: fadeIn 30s ease, color-change 30s ease, glow 10s linear infinite;
}

/* Modals */

.modal-header {
	border: 0;
	margin: 0;
	position: relative;
}

.modal-title {
	margin: auto;
}

.btn-close {
	position: absolute;
	right: 2rem;
	z-index: 2;
}

.modal-body {
	border: none;
	margin: 0;
}

.modal-content {
	background-color: #161014;
	border: none;
	opacity: .9;
	max-width: 100vw;
	max-height: 100vh;
	margin: 0;
}

.modal-content h3,
h4,
h5,
h6 {
	padding: .4rem 0;
}

.modal-content p {
	padding: 0;
	margin: 0;
}

.modal-content h6 {
	color: #506582;
}

.modal-content .row {
	padding: 1rem 0;
	margin: 0;
	max-width: 100vw;
}

.modal-content div {
	padding: 1rem;
}

.modal-footer {
	border: none;
	text-align: center;
	margin: 0;
}

.modal-content > p {
	padding: 1rem;
}

.modal-content iframe {
	height: 50%;
	width: 100%;
}

.modal-subtext {
	color: #506582;
	font-size: small;
}

.offcanvas-end {
	background-color: #161014;
	border-left: solid #eaedef 1px;
}

.offcanvas-bottom {
	background-color: #161014;
	border-top: solid #eaedef 1px;
}

/* About Modal */

.about-header {
	margin: 3rem 0;
	letter-spacing: .5rem;
}

.modal-body {
	animation: fadeIn 1s ease;
}

#about img:hover {
	animation: fadeIn 1s ease;
}

/* Photos Modal */

.carousel {
	height: 100%;
}

.carousel-caption {
	background-color: #161014;
	opacity: .9;
	width: 40%;
	margin: 1rem auto
}

.carousel-inner {
	height: 100%;
	max-width: 85%;
	margin: 0 auto;
}

.carousel-item {
	height: 100%;
}

#photos .modal-content {
	opacity: 1.1;
}

/* Discography Modal */

.album-button {
	margin: 1rem 0 0;
}

.offcanvas-bottom {
	height: 50%;
}

/* Social Section */

.social-section {
	padding: 0;
	position: relative;
}

.social-box,
.modal-social {
	text-align: center;
}

.social-box a {
	margin: 0 5rem;
	animation: fadeIn 10s ease, color-change 5s ease, spread 5s ease;
}

.modal-social a {
	margin: 0 1rem;
	animation: none;
}

.snippet {
	text-align: center;
	margin: 4rem auto 0;
	animation: fadeIn 10s ease, color-change 5s ease;
	letter-spacing: .3rem;
}

/* Containers */

.container-fluid {
	margin: 0;
	max-width: 100vw;
}

/* Navigation */

.navbar-section {
	animation: fadeIn 10s ease, color-change 10s ease;
}

.navbar-toggler-icon {
	width: 45px;
	height: 45px;
}

.nav-item {
	margin: 0 2rem;
	font-size: 1rem;
}

/*    ANIMATIONS SECTION     */

/* Glow Animation */

@keyframes glow {
	0% {
		text-shadow: 0 #eaedef;
	}

	50% {
		text-shadow: 0 0 4px #eaedef;
	}

	100% {
		text-shadow: 0 #eaedef;
	}
}

@-moz-keyframes glow {
	0% {
		text-shadow: 0 #eaedef;
	}

	50% {
		text-shadow: 0 0 4px #eaedef;
	}

	100% {
		text-shadow: 0 #eaedef;
	}
}

@-webkit-keyframes glow {
	0% {
		text-shadow: 0 #eaedef;
	}

	50% {
		text-shadow: 0 0 4px #eaedef;
	}

	100% {
		text-shadow: 0 #eaedef;
	}
}

@-o-keyframes glow {
	0% {
		text-shadow: 0 #eaedef;
	}

	50% {
		text-shadow: 0 0 4px #eaedef;
	}

	100% {
		text-shadow: 0 #eaedef;
	}
}

@-ms-keyframes glow {
	0% {
		text-shadow: 0 #eaedef;
	}

	50% {
		text-shadow: 0 0 4px #eaedef;
	}

	100% {
		text-shadow: 0 #eaedef;
	}
}

/* Opacity Animation */

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Color Animation */

@-ms-keyframes color-change {
	0% {
		color: #506582;
	}

	100% {
		color: #eaedef;
	}
}

@keyframes color-change {
	0% {
		color: #506582;
	}

	100% {
		color: #eaedef;
	}
}

@-moz-keyframes color-change {
	0% {
		color: #506582;
	}

	100% {
		color: #eaedef;
	}
}

@-webkit-keyframes color-change {
	0% {
		color: #506582;
	}

	100% {
		color: #eaedef;
	}
}

@-o-keyframes color-change {
	0% {
		color: #506582;
	}

	100% {
		color: #eaedef;
	}
}

/* Growth Animation */

@-ms-keyframes growth {
	0% {
		letter-spacing: 0;
	}

	100% {
		letter-spacing: .7rem;
	}
}

@keyframes growth {
	0% {
		letter-spacing: 0;
	}

	100% {
		letter-spacing: .7rem;
	}
}

@-moz-keyframes growth {
	0% {
		letter-spacing: 0;
	}

	100% {
		letter-spacing: .7rem;
	}
}

@-webkit-keyframes growth {
	0% {
		letter-spacing: 0;
	}

	100% {
		letter-spacing: .7rem;
	}
}

@-o-keyframes growth {
	0% {
		letter-spacing: 0;
	}

	100% {
		letter-spacing: .7rem;
	}
}

/* Icon Spread */

@-ms-keyframes spread {
	0% {
		margin: 0;
	}

	100% {
		margin: 5rem;
	}
}

@keyframes spread {
	0% {
		margin: 0;
	}

	100% {
		margin: 5rem;
	}
}

@-moz-keyframes spread {
	0% {
		margin: 0;
	}

	100% {
		margin: 5rem;
	}
}

@-webkit-keyframes spread {
	0% {
		margin: 0;
	}

	100% {
		margin: 5rem;
	}
}

@-o-keyframes spread {
	0% {
		margin: 0;
	}

	100% {
		margin: 5rem;
	}
}
